---
scope: postgresql-cluster
namespace: /service/
name: {{ inventory_hostname }}

etcd3:
  hosts: {{ groups['DB'] | map('extract', hostvars, 'ansible_host') | map('regex_replace', '$', ':2379') | join(',') }}
  protocol: https
  cacert: {{ certs.ca.dest }}
  cert: {{ certs.crt.dest }}  # node1's etcd certificate
  key: {{ certs.key.dest }}  # node1's etcd key

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_host }}:8008  # IP for node1's REST API
  certfile: {{ postgresql.certs.pem.dest }}

log:
   dir: /product/postgresql/log
   type: json
   format:
      - message
      - module
      - asctime: '@timestamp'
      - levelname: level
   static_fields:
      app: patroni

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576  # Failover parameters
    postgresql:
        parameters:
            ssl: 'on'  # Enable SSL
            ssl_cert_file: {{ postgresql.certs.pem.dest }}  # PostgreSQL server certificate
            ssl_key_file: {{ postgresql.certs.pem.dest }}  # PostgreSQL server key
        pg_hba:  # Access rules
        - hostssl replication replicator 127.0.0.1/32 md5
{% for item in groups['DB'] %}
        - hostssl replication replicator {{ hostvars[item].ansible_host }}/32 md5
{% endfor %}
        - hostssl all all 127.0.0.1/32 md5
        - hostssl all all 0.0.0.0/0 md5
  initdb:
    - encoding: UTF8
    - data-checksums

postgresql:
  listen: 0.0.0.0:5432

  connect_address: {{ ansible_host }}:5432  # IP for node1's PostgreSQL
  data_dir: {{ postgresql.data_dir }}
  bin_dir: /product/postgresql/ver/bin/  # Binary directory for PostgreSQL 17
  authentication:
    superuser:
      username: postgres
      password: cnV2abjbDpbh64e12987wR4mj5kQ3456Y0Qf  # Superuser password - be sure to change
    replication:
      username: replicator
      password: sad9a23jga8jsuedrwtsskj74567suiuwe23  # Replication password - be sure to change
  parameters:
    max_connections: 100
    archive_cleanup_command: 'pg_archivecleanup archivelocation %r'
    shared_buffers: 256MB

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false


